<div class="navbar">
    <div class="main-options">
        <div class="navbar-option">
            <a href="" class="navbar-link link-left">
                <mat-icon>calendar_month</mat-icon>
            </a>
            <div>
                Bike assistence
            </div>
        </div>
        <div class="delimiter">
            <div class="top"></div>
            <div class="bottom"></div>
        </div>
        <div class="navbar-option">
            <a href="" class="navbar-link link-right">
                <mat-icon>calendar_month</mat-icon>
            </a>
            <div>
                Notification type
            </div>
        </div>
    </div>
    <div class="secondary-options">
        <div class="navbar-option">
            <a href="" class="navbar-link link-left">
                <mat-icon>calendar_month</mat-icon>
            </a>
        </div>
        <div class="navbar-option">
            <a href="" class="navbar-link link-left">
                <mat-icon>calendar_month</mat-icon>
            </a>
        </div>
    </div>
</div>